name: .NET CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Restore dependencies
      run: dotnet restore gittest.sln

    - name: build
      run: dotnet build gittest.sln --configuration Release --no-restore

    - name: Run tests
      run: dotnet test gittest.sln --configuration Release --no-build --verbosity normal